body {
    padding-top: 0;
}

section {
    padding: 60px 0;
}

.map-container {
    height: 300px; 
    width: 100%;
    background-color: #e9ecef;
}

footer {
    background-color: #f8f9fa;
}

.carousel-item img {
    object-fit: cover;
    height: 400px;
}

.logo-img {
    height: 40px;
    width: auto;
}


.service-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}


@media (min-width: 768px) and (max-width: 991px) {
    .service-img {
        height: 100%;       
        min-height: 250px; 
        width: 100%;
    }
}

@media (min-width: 992px) {
    .service-img {
        height: 250px;
        width: 100%;